<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Khoa Pham</title>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
        <script src="jquery.js"></script>
        <script>
            $(document).ready(() => {
                $('#btnAjax').click(() => {
                    $.get('/likes/1', data => {
                        console.log(data);
                    });
                });
            });
        </script>
    </head>
    <body>
        <div>
            <h3><%= name %></h3>
            <div class="div-control">
                <a href="/show/<%= id - 1 %>">Trở lại</a>
                <a href="/show/<%= id + 1 %>">Tiếp</a>
            </div>
            <hr />
            <img src="<%- image %>" width="300" height="400">
            <hr />
            <div class="div-control">
                <a href="/like/<%= id %>"><%= like %> Like</a>
                <a href="/like/<%= id %>"><%= dislike %> Dislike</a>
            </div>
            <button id="btnAjax">AJAX</button>
        </div>
    </body>
</html>
